nav.dashboard-sidebar {
   padding-top: 75px;
   background-color: #e5e5e5;
   height: 100%;
   position: fixed;
   overflow-x: hidden;
}

nav.dashboard-sidebar ul {
    padding-left: 15px;
}

header nav {
    color: white;
}