<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="fill-height-sm">
<head>
    <div th:replace="fragments/imports :: head"></div>
    <title>DOMO Metabase Viewer</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main role="main">
    <div class="container-fluid">

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">403</h1>
                <p>Unauthorized. Text TBD...</p>
                <p><a class=""
                      href="mailto:NR.CommonServiceShowcase@gov.bc.ca?subject=Request Access to DOMO Metabase Viewer"
                      role="button"><i class="fas fa-envelope"></i> Request Access</a></p>
            </div>
        </div>
    </div> <!-- /container-fluid-->
</main>

<div th:replace="fragments/footer :: footer"></div>

<div th:replace="fragments/imports :: scripts"></div>
</body>
</html>